<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<!--log4net配置节点开始-->
	<!-- Level的级别，由高到低 -->
	<!-- None > Fatal > ERROR > WARN > DEBUG > INFO > ALL-->
	<!-- 解释：如果level是ERROR，则在cs文件里面调用log4net的info()方法，则不会写入到日志文件中
   type="log4net.Appender.RollingFileAppender"：记录到文件
  -->
	<log4net>
		<!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
		<!-- Set root logger level to ERROR and its appenders -->
		<root>
			<level value="ERROR" />
			<appender-ref ref="SysAppender" />
		</root>

		<!-- Print only messages of level DEBUG or above in the packages -->
		<logger name="WebLogger">
			<level value="ERROR" />
		</logger>
		<appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<param name="File" value="App_Data/Log/" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value="yyyy\\yyyy-MM\\yyyy-MM-dd'.txt'" />
			<param name="StaticLogFileName" value="false" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%newline %n记录时间：%date %n线程ID:[%thread] %n日志级别：  %-5level %n出错类：%logger property: [%property{NDC}] - %n错误描述：%message%newline %n" />
			</layout>
		</appender>
		<appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%newline %n记录时间：%date %n线程ID:[%thread] %n日志级别：  %-5level %n出错类：%logger property: [%property{NDC}] - %n错误描述：%message%newline %n" />
			</layout>
		</appender>
	</log4net>
	<!--log4net配置节点结束-->
</configuration>

