<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  https://go.microsoft.com/fwlink/?LinkId=301880 を参照してください
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="GitLabDbConnection" connectionString="Server=172.17.5.146;Port=5432;Database=gitlabhq_production;User Id=gitlab;Password=Lab@Gtre2021IChinaT;" providerName="Npgsql" />
	  <add name="AgoraDbConnection" connectionString="Server=172.17.5.146;Port=5435;Database=agora;User Id=agorauser;Password=agoraUser0713;" providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- 权限-->
    <add key="SuperUser" value="10004397;2200114;10112509;10105111;10104662;10191752;" />
    <add key="SalesOffice" value="10004266;" />
    <!-- 权限-->
    <!-- LDAP相关配置-->
    <add key="LDAPApi" value="http://ldap.trechina.cn/openldap/ldap/authenticate" />
    <add key="SystemId" value="dHJlb3BlbmxkYXBjaGluYTM=" />
    <!-- LDAP相关配置-->
    <!-- 钉钉相关配置-->
    <add key="Appkey" value="dinge9teeg4c7jaxt5aj" />
    <add key="Appsecret" value="JeNmsHm-nsajiqmvueXQdfTHjx714amMRi0r3r1Q0BPOJPsyGM7ZrriKyA6YulZk" />
    <add key="AgentId" value="1350126431" />
    <!-- 钉钉相关配置-->
    <!-- gitlab token -->
    <add key="gitlab_token1" value="1mmmnzyEAHrFuW5TQxax" />
    <add key="gitlab_token2" value="4rcUyD9a6gw8UjqmrqJ3" />
    <!--生产环境ModifyUserAvatarToken20210802 -->
    <add key="gitlab_token3" value="Gv5YFGB7m76ySbY5Pmv7" />
    <!--SetLanguage -->
    <add key="gitlab_token4" value="XAjhQ6wAYym-pa4VWjpf" />
    <!--获取user -->
    <add key="gitlab_token5" value="TGdwrUTRL7iSRCMGQKdy" />
    <!--AddAllUserToPlayground -->
    <add key="gitlab_token6" value="MDtefxGmYyudc_VV3z6u" />
    <!--此token仅限于SetReviewer使用 -->
    <!-- gitlab token -->
    <!-- gitlab同期token -->
    <add key="remote_token" value="qK9RyscqffTNakDzxsT5" />
    <add key="gitlab_token_rsync" value="iZRuRGX-gBsZkYEfSfUF" />
	  
    <!-- gitlab同期token -->
    <!-- gitlab api url -->
	<add key="gitlab_url" value="http://172.17.5.146" />
	<add key="gitlab_instance" value="http://172.17.5.146/api/v4/" />
	<add key="default_face" value="match(gitlab_url)/assets/no_avatar-849f9c04a3a0d0cea2424ae97b27447dc64a7dbfae83c036c45b403392f0e8ba.png" />
	<add key="persion_face" value="match(gitlab_url)/uploads/-/system/user/avatar/" />
	
	<add key="msg_send" value="false" />
	<add key="TimeStamp" value="1440" />
	<add key="SecretKey" value="UYjDstcKsx0NHjPOuUTERYjweyXOYg5MbeJ1XT0uFiwDVvCDWv" />
	<add key="WithToken" value="true" />
	<add key="RsyncDay" value="-700" />
	  
    <!-- gitlab api url -->
    <!-- rsa密钥 -->
    <add key="rsa_modulus" value="t1Bu2kB4/GYNDtj6Ud9f6gvdObzwYESCNZ5mKG8nzn/tg03/TQpjX+0K8h9eq+krZ77IJCwL4CkI5ASHzgK08s3RgWIzVqErhtUAcM4xPoNMMMj9K1yjDWxgRQCmZpJCi/6mzpwaUeOxUCSh5f+RcVeyssO5xlM5Y28F6+Hwl7Fpk2jaxvcjzJAfgCv4HdKMvTUlh7maar4jMHTcQP2hBXTSM5TuwboT/PggkoQtZp9m+pbhFNs9GAA9Cf/gDUWHSJbdEFb4Q+6aibKxCL77hEWtqCmKHF6VJM5+FhWO7b+c27xhrrpzt7hz66ZrYzhm6xniKdYcUYG8oeRybPfxLQ==" />
    <add key="rsa_exponent" value="AQAB" />
    <add key="rsa_p" value="xemTGzzArht/KmeSPo2X+ynBci70VzS/m063SMRqmCC8OWN51b7msYHps8pcQ4CUYKfFsvMb7ssLJTZAUx7hU1TVZRXFew7t44Gki0gMV0BbNiogBfJAvhk81Zv35eza3Qvqa8bHMteJj+QSP6BZfMeKtn7P8JHK8Jm8VkwZA+M=" />
    <add key="rsa_q" value="7R4AYMAEEBdke+QHpnqXLiaf8tN8ZDc6E3gMHPQd+9JCPfnXRrO4VU5bzfmD/yGLEjvVxg7MAqHmBxzro0wl0/NYMt7gCsL0NdxI6IVJUXy8z6rSRR9xGaxIyJ6XbjLIRxF3P9utSbstauHf45zBLWgcWN2TIjxT4CGSohSk468=" />
    <add key="rsa_dp" value="ex6ddzpKG4XbjEO2RNfNDmChiSkQtBeKg1Fq0Afw0Aa9UW5C4ufJl+/btQ9UamHY7HAymuqGG/2QR2wChDMXtcF2p1Xt7moRL5D9DfCaTMUqeP2nwks8X4ZPxAstIopAdXbuNHIKheR0HWGiwJY+VVPFRVaKgXwRJbBd68mXXkU=" />
    <add key="rsa_dq" value="wCFSLxMHd75splJzvHqS60tSyWCB53Y0cbgRIJjRfs207SD3RYu0bjLrAnAOe3lDhcfEBRLSTcO/br4JVS0Lbb09FyMuqKmlVcsjrHzrlsKa/y4r6OR8MVA/PYf7rcgqLiPB25V1yUuIlpVlY7oNcWxto7gOU2xMjkzF0t0lanM=" />
    <add key="rsa_inverse_q" value="M6fIX6yEKGBvK+w8BVlnD11DBbDdU8LOGAp44lgB1Fafjc5F+YsDPToXJJugiItKc6xSLEDobQzqpz86Dz+Z20tR5oLEwzrQGuqy0ZPs9FgwCRng7+gyeHUY4X++VYkb1ddiWcPUsEtU1DC1rw2dSFd7XQ+QZjtAyL0U4K7MgYo=" />
    <add key="rsa_d" value="D1eW/4M33P/5hc2ZHbMRRvhZOpTalWQGddBdAnNTJJBGY5/qhxsgeA3RxbPka4TnUhaAj650C/3DNbo/V3mYhV2+dBKw80Yn62/2SnqnWnEItmiL784gA2aXpA7K3njNQwQ8F7yu4z2oQGngduxt0suhNB73dGbQvcaz+yr8xOU65PclqMyQ/kyWFFVJbZ0wHBKY4U7ZAv+UMqhcoE0TnAD110rz1hUQhDYq3maPpoSC/E1sR3G/WoC3SGXx/tczl7U3yHqQdoUfZndqiYdmGy9yBVZxW0Zbzxa9TZUtZMSzQlM7O0m7xogaCJLPGwmQGywgAnvnRuzHi5PlFBLjbQ==" />
    <!-- rsa密钥 -->
    <!-- 邮件 -->
    <add key="SmtpServer" value="mail.trechina.cn" />
    <add key="SmtpUser" value="administrator@trechina.cn" />
    <add key="SmtpPassword" value="vevwik-kyjto4-vofhiK" />
    <!-- 邮件 -->
  </appSettings>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" timeout="1440" />
  </system.web>

	<system.net>
		<defaultProxy enabled="true">
			<proxy usesystemdefault="True" proxyaddress="http://2200114:Aaa12345@172.17.1.45:3128" bypassonlocal="True" />
			<bypasslist>
				<add address="^((?!github\.com).)*$" />
			</bypasslist>
		</defaultProxy>
	</system.net>
	
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" support="FF" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>        
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.7.0" newVersion="5.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, EntityFramework6.Npgsql" />
  </entityFramework>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>