@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GitLab Manager</h1>
    <p class="lead">Use this site to maintenance code.trechina.cn/gitlab.</p>
    <!--<p><a href="/Users/SetAvatar" class="btn btn-primary btn-lg">Set User Avatar &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Scrum Sprint Drawing</h3>
        <p>
            <img style="width: 100%; " src="~/Content/agile-software-development3.png" />
        </p>
    </div>
    <div class="col-md-4">
        <h3>Agile Software Development</h3>
        <p>
            <img style="width:100%;" src="~/Content/agile-software-development.png" />
        </p>

    </div>
    <div class="col-md-4">
        <h3>Devops Software Development</h3>
        <p>
            <img style="width: 100%; " src="~/Content/devops-agile-software-development.png" />
        </p>
    </div>
</div>